



.content {
    display: flex;
    margin: auto;
    margin-top: 4vh;
    width: 70vw; 
   
   
    
}

@media (max-width: 768px) {
    .content {
        flex-direction: column; 
        height: auto; 
    }
}
