.chat{
    display: flex;
    background-color: white;
    margin:1px;
    padding:3px;
    align-items: center;
    height:10vh;
    }
.message{
  margin-left:1rem;
}
.link{
    text-decoration: none;
}
.roomName{
  font-size:large;
  color:black;
}