.top{
    display:flex;
    background-color:rgb(212, 212, 212);
    height:fit-content;
    align-items: center;
    
}
.left{
    display: flex;
    width:100%;
    padding:.5rem;
    justify-content: space-around;
    align-items: center;

}
.right{
    display: flex;
    padding:.5rem;
    
} 
@media (max-width: 768px) {
    .top {
      align-items: center;
    }
    .left {
      display:flex;
     justify-content: left;
      margin-bottom: 1rem;
    }
    .userName{
      font-size:large;
      margin-left: 1rem;
    }
  }