.footer{
    background-color: white;
    height:1rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem;
    
}
.footer input{
    height:1.75rem;  
    width:30rem;
    
}
@media (max-width: 768px) {
    .footer{
        height:1rem;
        
    }
    
}